@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*



{font-family: 'Bebas Neue', sans-serif;}

h1
{text-align: center;
background-color: rgb(121, 19, 19);
padding: 40px;
font-size: 30px;
}
.middlesection
{display: flex;


}

.potholdrez
{ background-color: black;
   text-align: center;
   color: red;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: larger;
   font-style: italic;
   
   
}
 .container
 { display: flex;
   justify-content: space-evenly;
   align-items: center;
   border: 2px solid black;
   padding: 40px;
   border-right: 20px;
   border-left: 20px;
 }


.haeu
{  
   
   height: 300px;
   position: relative;
   width: 320px;
   margin: 5px;
   border: 1px solid #130505;
   border-radius: 7px;
   overflow: hidden;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.13);
 
}

.rapsnitches
{ width: 320px;
   height: 300px;
   position: relative;
   margin: 5px;
   border: 1px solid #130505;
   border-radius: 7px;
   overflow: hidden;
   box-shadow: 0 0 5px red(0, 0, 0, 0.13);
   
}
.onebeer
{ width: 320px;
   height: 300px;
   position: relative;
   margin: 5px;
   border: 1px solid #130505;
   border-radius: 7px;
   overflow: hidden;
   box-shadow: 0 0 5px red(0, 0, 0, 0.13);

}
.BOMB
{width: 320px;
   height: 300px;
   position: relative;
   margin: 5px;
   border: 1px solid #130505;
   border-radius: 7px;
   overflow: hidden;
   box-shadow: 0 0 5px red(0, 0, 0, 0.13);

}
nav
{ display: flex;
  justify-content: space-around;
  



}
.LYRICS
{ background-color: black;
 color: red;
 height: 60px;
 width: 180px;
 font-size: 20px;
 position: relative;
 border-radius: 7px;
 font-style: italic;



}